$hero-content-font-family: $font-family-first;
$hero-content-bottom-mobile: 5%;
$hero-content-bottom-desktop: 10%;
$hero-content-left-mobile: 5%;
$hero-content-left-desktop: calc( 50% - #{$grid} / 2 );
$hero-link-font-family: $font-family-second;
$hero-link-border: 4px solid $color-white;
$hero-link-border-radius: $border-radius-first;

.hero {
  font-size: 3rem;
  height: 100vh;
  padding: 0;
  position: relative;
  z-index: 5;
}

.hero__thumb {
   @include aspect-ratio(2, 1);

   height: 100vh;
}

.hero__content {
  bottom: $hero-content-bottom-mobile;
  font-family: $hero-content-font-family;
  left: $hero-content-left-mobile;
  max-width: 400px;
  position: absolute;
  width: 80%;
  z-index: 10;
}

.hero__logo{
  width: 20rem;
}

.hero__subtitle {
  color: $color-white;
  font-size: 1rem;
  opacity: .4;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

.hero__title {
  color: $color-white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero__link {
  border: $hero-link-border;
  border-radius: $hero-link-border-radius;
  color: $color-white;
  font-family: $hero-link-font-family;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

@media #{$breakpoints-medium} {
  .hero__title {
    font-size: 2.5rem;
  }
}

@media #{$breakpoints-large} {
  .hero__content {
    bottom: $hero-content-bottom-desktop;
    left: $hero-content-left-desktop;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .hero__title {
    font-size: 3.25rem;
  }
}

@media #{$breakpoints-xlarge} {
  .hero__title {
    font-size: 3rem;
  }
}

