<section class="section about">
  <section class="section about-text">
    <div class="about-text__text">
        <strong>MELTDOWN</strong> es una banda de <strong>Hardcore Metal</strong> formada a mediados de 2013 en <strong>Hernani</strong>, País Vasco. <br><br>

        <strong>Primeros años</strong> (2013-2015)<br><br>


        En <strong>Julio de 2014</strong> publican su <strong>primer EP</strong> homónimo grabado por Álvaro Remacha (Materia, Cohen, Lionhead, All Became Dust...). El EP recibe buenas críticas y les da oportunidad de tocar por todo el País Vasco abriendo para bandas como Dawn of the Maya, Bellako, Adrenalized o Hyde Abbey.<br><br>


        <strong>En 2015</strong>, tras varios meses tocando sin parar, se encierran para componer su nuevo EP. Tras una pausa, retoman los conciertos, ganan varios concursos de bandas y publican su <strong>nuevo single “Oxymoron”</strong>.<br><br>


        <strong>I Refuse to Die Here</strong> (2016-2017)<br><br>

        A <strong>comienzos de abril de 2016</strong> publican <strong>“I Refuse to Die Here”</strong>, su segundo EP mezclado y masterizado por <strong>Álex Cappa</strong> en “The Metal Factory Studios” en Madrid (Vita Imana, Hamlet, Dawn of the Maya...) con el que dan el salto al <strong>resto del estado</strong>, girando en ciudades como Madrid, Barcelona o Valencia entre otros. Asimismo, comparten escenario con grupos como Crisix, In Mute, Killus o Dawn of the Maya entre otros.<br>


        Tras parar en verano, Meltdown vuelve con <strong>varias fechas por el estado español</strong> y <strong>nuevo bajista</strong>; Pablo Ferreras se une a la banda, completando la formación tras la marcha de Labat.<br><br>


        En noviembre de 2016, Meltdown se une a <strong>Atlas Artist Agency</strong>, agencia de management y booking creada por Rove Hernando y Javi Carrion, tour manager y batería de la conocida banda de thrash metal catalana <strong>Crisix</strong> y a comienzos de diciembre de 2016, <strong>giran en Europa</strong> por primera vez durante 9 días en Francia, Suiza e Italia.<br><br>


        En <strong>enero de 2017</strong> anuncian una <strong>nueva gira estatal</strong> como invitados de <strong>Dawn of the Maya</strong>, banda top de metalcore nacional, durante la gira de presentación de “Colossal”, su tercer aclamado LP, convirtiéndolos en una de las <strong>bandas más activas de la escena core</strong>. Pasan el año girando y componiendo sin parar.<br><br>


        <strong>From This Day To The Grave</strong> (2018)<br><br>


        En <strong>enero de 2018</strong> anuncian el lanzamiento de su primer LP titulado "From This Day To The Grave" y su fichaje por <strong>Art Gates Records</strong> (Peninsula) e <strong>Imminence Records</strong> (EE.UU.) junto a su primer single titulado "Rip Out My Eyes".
    </div>
  </section>
  <section class="section profiles">
    <a class="profiles__box profiles__box" target="_blank" href="">
      <div class="profiles__content profiles__content--amunda">
      </div>
    </a>
    <a class="profiles__box profiles__box" target="_blank" href="">
      <div class="profiles__content profiles__content--pablo">
      </div>
    </a>
    <a class="profiles__box profiles__box" target="_blank" href="">
      <div class="profiles__content profiles__content--sasu">
      </div>
    </a>
    <a class="profiles__box profiles__box" target="_blank" href="">
      <div class="profiles__content profiles__content--bittor">
      </div>
    </a>
    <a class="profiles__box profiles__box" target="_blank" href="">
      <div class="profiles__content profiles__content--julen">
      </div>
    </a>
  </section>
</section>