<section class="section hero">
  <picture class="picture hero__thumb">
    <source media="(max-width: 320px)" srcset="assets/images/hero-min.jpg">
    <img data-object-fit="cover" class="class_name" alt="text" src="assets/images/hero.jpg"/>
  </picture>
  <div class="hero__menu">
    <img class="hero__logo" alt="" src="assets/images/meltdown-logos/meltdown-white.png">
  </div>
  <div class="hero__content">
    <h3 class="hero__subtitle">
      Preorder at
    </h3>
    <h2 class="hero__title">
      From this day to the grave
    </h2>
    <a href="" class="hero__link">
      Read more
    </a>
  </div>
</section>