<section class="section rrss">
  <div class="rrss__box rrss__box">
    <div class="rrss__content rrss__content--spotify">
      <h2 class="rrss__title">
        Disfruta de nuestro último single en Spotify
      </h2>
      <a href="" target="_blank" class="rrss__link rrss__link--spotify">
        Listen now
      </a>
    </div>
  </div>
  <div class="rrss__box rrss__box">
    <div class="rrss__content rrss__content--youtube">
      <h2 class="rrss__title">
        Estate al tanto de los últimos videoclips
      </h2>
      <a href="" target="_blank" class="rrss__link rrss__link--youtube">
        Play videos
      </a>
    </div>
  </div>
  <div class="rrss__box rrss__box">
    <div class="rrss__content rrss__content--instagram">
      <h2 class="rrss__title">
        Nuestro stories y publicación en instagram
      </h2>
      <a href="" target="_blank" class="rrss__link rrss__link--instagram">
        Follow
      </a>
    </div>
  </div>
</section>