<header class="header">
  <div class="header__section">
    <a href="/" class="header__logo-link">
      <img class="header__logo" alt="" src="assets/images/meltdown-logos/meltdown-white.png"/>
    </a>
  </div>
  <div class="header__section">
    <nav class="header__nav">
      {% for page in site.pages %}
        {% if page.title %}
        <a class="header__nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
