// Part of the pitcher github.com/gruncho/stylestree
//
// http://chir.ag/projects/name-that-color/
//
// Use the above URL to obtain the name of the hexadecimals,
// and please, try to order from higher hex value to lower
// hex value.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// basic

$color-white: #fff;
$color-black: #000;
$color-gray: rgba(0,0,0,.4);

// corporative

$color-corporative: #0099e5;
$color-gray-content: #444;

// rrss

$color-spotify: #1db954;
$color-instagram: #405de6;
$color-youtube: #ff0000;