@import '../variables/colors';

$transition-body-background-first: #999;
$transition-body-background-final: #fafafa;

.transition_body {
  animation: transition_body .1s ease-in both;
}

@keyframes transition_body {
  0% { 
    background: $transition-body-background-first;
  } 
  100% {
    background: $transition-body-background-final;
  }
}

.transition_content {
  animation: transition_content .6s ease-in both;
}

@keyframes transition_content {
  0% { 
    opacity: 0;
  } 
  70% { 
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

.transition_thumb {
  animation: transition_thumb 1.5s both;
}

@keyframes transition_thumb {
  0% {
    height: 100vh;
  }
  80% { 
    height: 100vh;
    transform: translateY(-96px);
    position: relative;
    z-index: 50;
  } 
  100% {
    height: 50vh;
    transform: translateY(0);
  }
}

.flash-hover {
  animation: 1s flash-hover ease-in infinite;
}
